{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block title %}註冊頁面 {% endblock %}
{% block body %}
<div class="container ">
    <div class="rom mt-4">
        <div class="col">  </div>
        <div class="col ml-auto">
            <form method="POST" id="userForm" action="#">
                <div class="form-group">
                    <label for="email">電子信箱</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="請輸入email">
                </div>
                <div class="form-group">
                    <label for="verificationCode">驗證碼</label>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="verificationCode" name="captcha" placeholder="請輸入驗證碼">
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-secondary btn-block" id="captcha-btn" onclick="getchaptch()">發送驗證碼</button>
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="請輸入用戶名">
                </div>
                <div class="form-group">
                    <label for="password">密碼</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="請輸入密碼">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">確認密碼</label>
                    <input type="password" class="form-control" id="confirmPassword"  name="password_confirm" placeholder="請確認密碼">
                </div>
                <button type="button" class="btn btn-primary" id="add_user" onclick= "adduser()" >提交註冊</button>
            </form>
        </div>
    </div>
   
   
</div>

<script src="{{ url_for('static',filename='js/register.js')}}"></script>
   
{% endblock%}